name: docs
on:
  push:
    branches:
      - develop
      - main
      - master
    paths:
      # Only rebuild website when docs have changed
      - 'README.md'
      - 'docs/**'
      - 'mkdocs.yml'
      - .github/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Start Docker Daemon
        run: |
          sudo systemctl start docker

      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: pip install mkdocs-material mkdocs-mermaid2-plugin mkdocs-jupyter bash_kernel cwltool pystac-client
      - run: sudo apt update && sudo apt install -y graphviz wget
      - run: |
            sudo wget https://github.com/mikefarah/yq/releases/download/v4.44.6/yq_linux_386 -O /usr/bin/yq &&\
            sudo chmod +x /usr/bin/yq
      - run: python -m bash_kernel.install
      - run: mkdocs gh-deploy --force
